language: python
python:
  - "3.6"
  - "pypy3"
  - "nightly"
install:
  - pip install pycodestyle
  - pip install jupyter
before_script: pycodestyle --max-line-length=100 .
script:
  - find -name '*.ipynb' -not -path "*/.env/*" -exec jupyter nbconvert --to notebook {} \;
  - sudo bash test.sh
